.product-form{
    margin: 20px 0;
    .preview-section{
        background-color: #cecdcd !important;
        padding: 10px;
        border-radius: 10px;
        h2{
            color: black;
        }
    }
}